/*
-------------------------------------------------------------------------------
=General styling
-------------------------------------------------------------------------------
*/

*, 
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.container {
	margin-top: 80px;
}

/*
-------------------------------------------------------------------------------
=Header
-------------------------------------------------------------------------------
*/

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px;
	text-align: center;
	background: #eee;
	z-index: 1;
}

/*
-------------------------------------------------------------------------------
=Misc
-------------------------------------------------------------------------------
*/

.post {
	margin-bottom: 10px;
}


/*
-------------------------------------------------------------------------------
=Typograpy
-------------------------------------------------------------------------------
*/

.title {
	margin-bottom: 10px;
}